
<form asp-controller="Schedule" asp-action="GetByClientId" method="get">
    <label for="clientId">Client ID:</label>
    <input type="number" name="clientId" id="clientId" />
    <button type="submit">Search</button>
</form>