body {
    background-color: #f6f6f6;
    font-family:'Segoe UI Symbol';
}
h2,h3 {
    text-transform:uppercase;
}
.navbar{
    height: 12vh;
}
.img{
    width:7vw;
}
.btn {
    background-color: #ffdb00;
    color: white;
    border: white;
}
.bg-wood h2{
    color: black;
    text-transform:uppercase;
}
.bg-wood {
    color: rgb(203, 203, 203);
    border-radius: 10px;
}
    .bg-wood p {
        text-shadow: 1px 1px 0px 1px white;
        text-align:justify;
    }
.navbar {
    background-color: #B88355;
}
.footer {
    background-color: black;
}
.nav-link{
    color:aliceblue;
}

.container{
    border-radius: 20px;
}
.left-container{
    height: 50vh;
    position: relative;
    width: 10%;
    border-right: 4px solid lightgray;
    background-color: gray;
}
.container-c{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.login-container {
    display: flex;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}

.login-form {
    width: 100%;
    padding: 10px;
}
.aside-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: lightgray;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
