body {
    background-color: #fbfaf1;
    font-family: 'Source Sans Pro';
}
h2,h3 {
    text-transform:uppercase;
}
.navbar {
    height: 12vh;
}
.img{
    width:4vw;
}
.footer {
    background-color: #04586f;
    color: white;
}
.title{
    color: white;
    font-size: 20px;
    font-weight:bolder;
    font-family:'Source Sans Pro';

}
.bg-wood h2{
    color: black;
    text-transform:uppercase;
}
.bg-wood {
    border-radius: 10px;
}
    .bg-wood p {
        text-shadow: 1px 1px 0px 1px white;
        text-align:justify;
    }
.navbar {
    background-color: #04586f;
}
.btn {
    background-color: #04586f;
    color: white;
}

.nav-link{
    color:aliceblue;
}

.container{
    border-radius: 20px;
}
.left-container{
    height: 50vh;
    position: relative;
    width: 10%;
    border-right: 4px solid lightgray;
    background-color: gray;
}
.container-c{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.login-container {
    display: flex;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}

.login-form {
    width: 100%;
    padding: 10px;
}
.aside-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: lightgray;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.groupbtn{
    margin-left: 25%;
}